/* ---------------------------------------------------------
   Page styles
   ---------------------------------------------------------*/
body {
    background-color: #f8f8f8;
    background-color: #fafafa;
    font-family: "Inconsolata", sans-serif;
    /* color: #333; */
    color: #263238;
    font-size: 100%;
    font-weight: 500;
}
/* Default link styling */
a:link {
    color: #0271fb;
}
a:visited {
    color: #bd02fb;
}
a:hover,
a:focus {
    color: #ff8f00;
}
a:active {
    color: #ff8f00;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3 {
    font-family: "Nunito", sans-serif;
    text-align: center;
}
h1 a, h2 a, h3 a, h4 a {
    text-decoration: none;
}
h1 a:hover,
h1 a:focus {
    color: #ff8f00;
}
 header h1 a:link,header h1 a:visited {
     color: #263238;
 }
 header{
     display: block;
     margin: 20px 0 100px 0;
 }
header h1 {
    float: left;
    font-size: 1.25em;
}
main p {
    font-size: 1.1em;
    line-height: 1.55em;
    font-weight: 300;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
nav {
    font-family: "Nunito", sans-serif;
    font-size: 1.25em;
}
.o-wrapper {
    min-height: calc(100vh - 180px);
    display: block;
    max-width: 980px;
    margin: 0 auto;
    padding: 20px 20px 80px 20px;
}
.c-main {
    clear: both;
    max-width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.c-header__nav {
    float: right;
}
header h1{
    padding: 0;
    margin: 0;
}
/* .c-header__nav ul {
    margin: 0;
} */
.c-header__nav li {
    margin-left: 1em;
    display: inline-block;
}
.c-visnavigation {
    display: flex;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto;
    width: 50%; */
}
.c-nav__list a:link,
.c-nav__list a:visited {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
.c-nav__list a:hover {
    color: #ff8f00;
}
.c-footer {
    background-color: #263238;
    padding: 32px 16px;
    /* margin-top: 64px; */
    height: 60px;
}

.c-footer {
    font-family: "Inconsolata", sans-serif;
    color: #b0bec5;
}
.c-footer a {
    text-decoration: underline;
    cursor: pointer;
    color: #b0bec5;
}

.c-footer a:hover, .c-footer a:focus, .c-footer a:active {
    color: #ff8f00;
}

.c-footer__legal {
    margin: 1em 0em;
}
.c-project__list-item {
    margin: 0 0 120px 0;
    padding: 0;
}

.c-project__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    background-color: #ff8f00;
}
.c-project__overlay:hover {
    opacity: 0.5;
}

.c-project__text {
    background-color: #455a64;
    color: #f8f8f8;
    padding: 14px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    margin: 0;
}

.c-project__right {
    text-align: right;
}

.c-project__left {
    text-align: left;
}


@media screen and (min-width: 980px){
    .c-project__left {
        transform: translate(-40px, -50%);
    }
    .c-project__right {
        transform: translate(40px, -50%);
    }
}

@media screen and (min-width: 480px){
    .c-project__left {
        float: left;
    }
    .c-project__right {
        float: right;
    }
}


.c-project__text h2, .c-project__text h3 {
    margin: 0;
}

.c-project__right h2, .c-project__right h3 {
    text-align: right;
}

.c-project__left h2, .c-project__left h3 {
    text-align: left;
}

.c-project__text h3 {
    font-size: 100%;
    font-family: "Inconsolata", sans-serif;
    font-weight: 500;
}
.c-project__image {
    position: relative;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}
.c-project__image img{
    max-width: 100%;
}

.u-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%; 
    transform: translate(-50%, -50%);
}




/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
   @media print {
    * {
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        background: transparent !important;
    }
    html {
        background-color: #fff;
    }
    /* Hide navigation */
    nav {
        display: none;
    }

    /* Show link destinations in brackets after the link text */
    a[href]:after {
        content: " (" attr(href) ") ";
    }
    a[href] {
        font-weight: bold;
        text-decoration: underlin;
        color: #06c;
        border: none;
    }
    /* Don't show link destinations for JavaScript or internal links */
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    /* Show abbr title value in brackets after the text */
    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    figure {
        margin-bottom: 1em;
        overflow: hidden;
    }

    figure img {
        border: 1px solid #000;
    }
}
