/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/
   body {
    background-color:#F5F5F5;
    font-family: 'Podkova', sans-serif;
    color: #333;
    }
/* Default link styling */
a:link { color:#0271fb; }
a:visited { color:#bd02fb; }
a:hover, a:focus { color:#333; }
a:active { color:#fb0e02; }
    
    
    
/* ---------------------------------------------------------
   Viz styles
   ---------------------------------------------------------*/

    .bar-ils {
        fill:#7f9bdb;
        stroke:none;
        opacity: 0.5;
    }
    .bar-de {
        fill:#be6347;
        stroke:none;
    }
    .weekbar-Jerusalem {
        fill:rgb(18, 183, 243);
        stroke:none;
    }
    .weekbar-Berlin {
        fill:rgb(234, 68, 63);
        stroke:none;
    }
    
    .weekbar-Jerusalem:hover {
        fill: rgb(64, 200, 249);
        stroke: white;
    }

    .weekbar-Berlin:hover {
        fill: rgb(226, 125, 122);
        stroke: white;
    }
    .x path{
        stroke: none;
    }
    .axis line{
      fill: none;
      stroke: none;
    }
    .centerlabel{
        fill: white;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: 300;
    }
    .centerlabel-avg{
        fill: white;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 0.75em;
        font-weight: 300;
    }
    .tick text{
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 300;
        font-size: 1.5em;
        fill: rgb(150,150,150); 
    }
    .avg-circle-Jerusalem{
        fill: rgb(18, 183, 243);
        opacity: 0.5;
        stroke: none;
        stroke-width: 3px;
    }
    .avg-circle-Berlin{
        fill: rgb(234, 68, 63);
        opacity: 0.5;
        stroke: none;
        stroke-width: 3px;
    }
    .monthline{
        stroke: #F5F5F5;
        stroke-width: 10;
    }
    .monthlabels{
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 300;
        fill: rgb(150,150,150); 
    }
    div.tooltip {	
        position: absolute;			
        text-align: left;	
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 300;
        color: #333;
        padding: 2px 5px 2px 2px;				
        font: 1.5em;		
        background: white;	
        border: 0px;		
        /* border-radius: 8px;			 */
        pointer-events: none;			
    }

    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
      }
      
      #year-navigation{
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 300;
        font-size: 1em;
      }
      #year-navigation select{
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 1.5em;
        border: 0;
        background: transparent;
        background: url(../img/dropdown-arrow.png) no-repeat 90%;
        background-position: 85% center;
        height: 50px;
        overflow: hidden;
        padding: 2px 10px;
        /* margin: 0 30px; */
        width: 100px;
        *width: 100px;
        -webkit-appearance: none;
        cursor: pointer;
      }
      select:focus{
          outline: none;
      }

      .navbtn{
        border: none;
        background: none;
        width: 170px;
        cursor: pointer;
        color: #333;
      }
      .navbtn:focus{
          outline: none;
          cursor: pointer;
      }
      .navbtn:active{
        color:red;
    }
      /* #nextbtn::after{
        display: none;
        font-family: "Font Awesome 5 Solid";
        content: "\f0da";
      } */
    /* ---------------------------------------------------------
   Page styles
   ---------------------------------------------------------*/
 .center{
    display: flex;
    align-items: center;
    justify-content: center;
 }

    
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */ 
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
    
    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure { 
        margin-bottom:1em; 
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}